name: Report

on:
  push:
  # 每天北京时间 8,13点整 (utc+8) 自动运行
  schedule:
    - cron: "0 0,5 * * *"

jobs:
  submit_report:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests
    - name: Run
      run: |
        python3 main.py
      env:
        USER_NAME: ${{ secrets.USER_NAME }}
        USER_PASS: ${{ secrets.USER_PASS }}
